django-cors-headers
django>=4.2
gunicorn
redis==5.2.1
psycopg2-binary
djangorestframework-simplejwt
djangorestframework
django-redis==5.4
django-phonenumber-field[phonenumbers]
django-filter
requests
pandas
openpyxl
python-dateutil
numexpr
jdatetime
xlcalculator
pycel